SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
SALESFORCE_LOGIN_URL=https://login.salesforce.com
SALESFORCE_REDIRECT_URI=http://localhost:5000/oauth/callback
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=